.albumWrapper {
    padding: 15px 30px;
    width: 70%;
}

.zero-bottom-margin {
    margin-bottom: 0;
}

h1,h2, h3, h4, h5, span, p, a {
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.image500px {
    width: 80%;
    height: 80%;
}