.albumWrapper {
    margin: 5px;
    width: 380px;
    height: 510px;
}

.imageContainer {
    background-size: cover;
    overflow: hidden;
    height: 400px;
}

.titleSection {
    margin-bottom: 15px;
}