.site-page-header {
    border: 1px solid rgb(235, 237, 240);
    background-color: #1890ff !important;
    height: 60px;
}

.topcorner {
    position:absolute;
    top:0;
    right:0;
    padding:15px;
}