.albumDetailsWrapper {
    padding: 10px 15px 15px 30px;
    width: 90%;
    margin: 0 auto;
}

.no-space {
    margin-bottom: 0;
}

h1,h2, h3, h4, h5, span, p, a {
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.image500px {
    width: 80%;
    height: 80%;
}